.Card{
    padding: 30px;
    margin: 20px;
    height: 350px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    align-items: center;
}

button{
    height: 40px;
    width: 70px;
    border-radius: 5px;
    margin: 40px;
    background-color: rgb(185, 177, 177);
}
button a{
    text-decoration: none;
    color:blue;
}